# Logs

logs
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files

.vscode/*
!.vscode/extensions.json
.DS_Store
.idea
*.ntvs*
*.suo
*.njsproj
*.sw?
*.sln
